body 
{
  background-color: #f8f8ff;
  margin: 0px 0px 0px 0px;
  padding: 12px;
  font-family : Verdana, Arial, Helvetica, sans-serif;
}

table
{
  width: 100%;
  align: center;
  margin: 12px;
  border: 1px #e3e3e3 solid;
  border-collapse: collapse;
  border-spacing: 0;
}

td
{
  padding: 5px;
  border: 1px #e3e3e3 solid;
  border-width: 0 0 1px 1px;
  text-align: left;
}

h1
{
  font-size : 16pt;
  border-top: solid 1px blue;
  border-bottom: solid 1px blue;
  padding: 5px;
  text-align: center;
}
